<div class="row">
    <div class="clearfix mission">
        <h2 class="text-center mission">Log in or Sign up today to find your fur-ever friend!</h2>
        <h1 id="missionH">Welcome!</h1>
        <img src="../images/Dog-landing.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="French Mastiff">
        <p id="missionP">Adopt, Don't Shop is a rescue organization dedictated to rescuing homeless and abandoned dogs.
            We place dogs in loving, responsible, and committed permanent homes. Using a comprehensive adoption process
            which includes taking considerable care in finding good matches and educating prospective adopters about the
            responsibilities and costs of bringing a dog into their homes and lives, we ensure the best placement
            possible for our furry friends. </p>
        <p id="missionP">This is not a real adoption site. Checkout the below links for reputable Colorado
            adoption organizations. </p>            
            <li><a id="linkRescue" href="https://www.milehighcanine.org/">Mile High Canine Rescue</a></li>
            <li><a id="linkRescue" href="https://mamcorescue.org/">MAMCO Rescue</a></li>            
    </div>
    
</div>