<div>
  <h1 class="signup">Find Your Best Friend!</h2>

  <form action="db/dogs.sql" method="post" class="form signup-form">
    <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Gender</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Male</a></li>
    <li><a class="dropdown-item" href="#">Female</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
    <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Breed</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Akita</a></li>
    <li><a class="dropdown-item" href="#">Appenzeller</a></li>
    <li><a class="dropdown-item" href="#">Australian Shepherd</a></li>
    <li><a class="dropdown-item" href="#">Basenji</a></li>
    <li><a class="dropdown-item" href="#">Beagle</a></li>
    <li><a class="dropdown-item" href="#">Bluetick Coonhound</a></li>
    <li><a class="dropdown-item" href="#">Boxer</a></li>
    <li><a class="dropdown-item" href="#">English Bulldog</a></li>
    <li><a class="dropdown-item" href="#">French Bulldog</a></li>
    <li><a class="dropdown-item" href="#">Australian Cattledog</a></li>
    <li><a class="dropdown-item" href="#">Chihuahua</a></li>
    <li><a class="dropdown-item" href="#">Chow Chow</a></li>
    <li><a class="dropdown-item" href="#">Border Collie</a></li>
    <li><a class="dropdown-item" href="#">Corgi</a></li>
    <li><a class="dropdown-item" href="#">Dachshund</a></li>
    <li><a class="dropdown-item" href="#">Dalmatian</a></li>
    <li><a class="dropdown-item" href="#">Great Dane</a></li>
    <li><a class="dropdown-item" href="#">Doberman</a></li>
    <li><a class="dropdown-item" href="#">German Shepherd</a></li>
    <li><a class="dropdown-item" href="#">Italian Greyhound</a></li>
    <li><a class="dropdown-item" href="#">Afghan Hound</a></li>
    <li><a class="dropdown-item" href="#">Blood Hound</a></li>
    <li><a class="dropdown-item" href="#">Husky</a></li>
    <li><a class="dropdown-item" href="#">Kelpie</a></li>
    <li><a class="dropdown-item" href="#">Labradoodle</a></li>
    <li><a class="dropdown-item" href="#">Labrador Retriver</a></li>
    <li><a class="dropdown-item" href="#">Maltese</a></li>
    <li><a class="dropdown-item" href="#">English Mastiff</a></li>
    <li><a class="dropdown-item" href="#">Mix</a></li>
    <li><a class="dropdown-item" href="#">Bermese Mountain</a></li>
    <li><a class="dropdown-item" href="#">Newfoundland</a></li>
    <li><a class="dropdown-item" href="#">Miniature Pinscher</a></li>
    <li><a class="dropdown-item" href="#">Pitbull</a></li>
    <li><a class="dropdown-item" href="#">German Pointer</a></li>
    <li><a class="dropdown-item" href="#">Pomeranian</a></li>
    <li><a class="dropdown-item" href="#">Toy Poodle</a></li>
    <li><a class="dropdown-item" href="#">Standard Poodle</a></li>
    <li><a class="dropdown-item" href="#">Pug</a></li>
    <li><a class="dropdown-item" href="#">Golden Retriver</a></li>
    <li><a class="dropdown-item" href="#">Rottweiler</a></li>
    <li><a class="dropdown-item" href="#">Samoyed</a></li>
    <li><a class="dropdown-item" href="#">English Setter</a></li>
    <li><a class="dropdown-item" href="#">Irish Setter</a></li>
    <li><a class="dropdown-item" href="#">English Sheepdog</a></li>
    <li><a class="dropdown-item" href="#">Shiba Inu</a></li>
    <li><a class="dropdown-item" href="#">Cocker Spaniel</a></li>
    <li><a class="dropdown-item" href="#">English Springer</a></li>
    <li><a class="dropdown-item" href="#">American Terrier</a></li>
    <li><a class="dropdown-item" href="#">Scottish Terrier</a></li>
    <li><a class="dropdown-item" href="#">Yorkshire Terrier</a></li>
    <li><a class="dropdown-item" href="#">Weimaraner</a></li>
    <li><a class="dropdown-item" href="#">Whippet</a></li>
    <li><a class="dropdown-item" href="#">Irish Wolfhound</a></li>
    </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div> 
   <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Size</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Small</a></li>
    <li><a class="dropdown-item" href="#">Medium</a></li>
    <li><a class="dropdown-item" href="#">Large</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>

    <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Age</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">1-2 Years</a></li>
    <li><a class="dropdown-item" href="#">3-8 Years</a></li>
    <li><a class="dropdown-item" href="#">9-15 Years</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
 <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Good With Kids</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Yes</a></li>
    <li><a class="dropdown-item" href="#">No</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
    <div class="input-group mb-3">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Good With Cats</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Yes</a></li>
    <li><a class="dropdown-item" href="#">No</a></li>
  </ul>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
  </form>
</div>